.bg-red {
    background-color:  #f8597e ;
}

.corners{
    border-radius: 25px;
}

.paddingTop{
    padding-top: 1rem;
}

.bg-yellow{
    background-color: #FFFF66;
}
.bg-green{
    background-color: lightgreen;
}

.alignClass{
    align-content: center;
}

.paddingContainer{
    padding-top: 0rem;
}
.padding{
    padding-bottom: 1rem;
}

.display{
    display:none
}

.navbar-brand{
    color: navy;
    letter-spacing: 1.5rem;
    font-weight: 900;
    font-size: larger;
}
