<div class="grid-container">
  <h1 class="mat-h1">Supplies & Cases</h1>
  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">
    <!--Mini Cards-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard.cols"
    [rowspan]="( cardLayout | async )?.miniCard.rows">
    <app-mini-card title="Available Hospitals"  icon="local_hospital" isIncrease="true" textValue="Total Hospitals" value="2600" color="green" percentValue="56"></app-mini-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard.cols"
    [rowspan]="( cardLayout | async )?.miniCard.rows">
    <app-mini-card title="ICU Availability" icon="local_hospital" textValue="ICU availability" value="580" color="red" percentValue="48"></app-mini-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard.cols"
    [rowspan]="( cardLayout | async )?.miniCard.rows">
    <app-mini-card title="Medicine Availability" isIncrease="true" icon="local_pharmacy" textValue="Medicine Availability" value="Pharmacy" color="green" percentValue="56"></app-mini-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard.cols"
    [rowspan]="( cardLayout | async )?.miniCard.rows">
    <app-mini-card title="No of Resources Available" icon="accessibility" isIncrease="true" textValue="No Of Resources Available" value="220000" color="green" percentValue="56" (click)="navigateTo()"></app-mini-card>
    </mat-grid-tile>

    <!--Charts-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
      <app-card title="Confirmed Cases by States">
          <app-confirmed-bycountry></app-confirmed-bycountry>
      </app-card>
   </mat-grid-tile>
   <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
      <app-card title="Confirmed Cases">
          <app-confirmed-cases></app-confirmed-cases>
      </app-card>
   </mat-grid-tile>
   <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
      <app-card title="Global Summary">
          <app-global-summary></app-global-summary>
      </app-card>
   </mat-grid-tile>
   <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
      <app-card title="Total Supplies">
          <app-total-supplies></app-total-supplies>
      </app-card>
   </mat-grid-tile>
    <!--Table-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.table.cols" [rowspan]="( cardLayout | async )?.table.rows" class="tableCard">
      <app-card title="Cases Overview"><app-patientinfo></app-patientinfo></app-card>
    </mat-grid-tile>
  </mat-grid-list>
 </div>