<!-- 
    <div class="row pb-5">
        <div class="col-9 col-sm-3 summaryDetails pb-3 pb-sm-0">Covid 19 Beds</div>
        <div class="row w-100">
            <div class="col-55 col-sm-4 pb-4 pb-sm-0">
                <div class="col-12 col-sm-4 pb-4 pb-sm-0">
                    <div class="card bg-info text-white pb-4 summaryCard border-0 pl-3 pr-3" (click)="navigateTo()">
                        <div>
                            <div class="col-12 whiteText pt-4">Total</div>
                        </div>
                        <div class="p-1">
                            <div class="col-12 countNo pt-4">{{totalCount}}</div> 
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 pb-4 pb-sm-0">
                    <div class="card bg-info text-white pb-4 summaryCard border-0 pl-3 pr-3" (click)="navigateTo()">
                        <div>
                            <div class="col-12 whiteText pt-4">Occupied</div>
                        </div>
                        <div class="p-1">
                            <div class="col-12 countNo pt-4">{{occupiedCount}}</div> 
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 pb-4 pb-sm-0">
                    <div class="card bg-info text-white pb-4 summaryCard border-0 pl-3 pr-3" (click)="navigateTo()">
                        <div>
                            <div class="col-12 whiteText pt-4">Vacant</div>
                        </div>
                        <div class="p-1">
                            <div class="col-12 countNo pt-4">{{totalCount}}</div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="row pb-5">
    <div class="col-9 col-sm-3 summaryDetails pb-3 pb-sm-0">Covid 19 ICU Beds</div>
    <div class="row w-100">
        <div class="col-12 col-sm-4 pb-4 pb-sm-0">
            <div class="card bg-info text-white pb-4 summaryCard border-0 pl-3 pr-3" (click)="navigateTo()">
                <div>
                    <div class="col-12 whiteText pt-4">Total</div>
                </div>
                <div class="p-1">
                    <div class="col-12 countNo pt-4">{{totalICUCount}}</div> 
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 pb-4 pb-sm-0">
            <div class="card bg-danger text-white pb-4 summaryCard border-0 pl-3 pr-3" (click)="navigateTo()">
                <div>
                    <div class="col-13 whiteText pt-4">Occupied</div>
                </div>
                <div class="p-1">
                    <div class="col-12 countNo pt-4">{{occupiedICUCount}}</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 pb-4 pb-sm-0">
            <div class="card bg-success text-white pb-4 summaryCard border-0 pl-3 pr-3" (click)="navigateTo()">
                <div>
                    <div class="col-13 whiteText pt-4">Vacant</div>
                </div>
                <div class="p-1">
                    <div class="col-12 countNo pt-4">{{vacantICUCount}}</div>
                </div>
            </div>
        </div>
    </div>
</div>   -->

<div class="container-fluid padding">
    <div class="row pb-5">
        <div class="col-9 col-sm-3 summaryDetails pb-3 pb-sm-0">Covid 19 Beds</div>
        <div class="row w-100">
            <div class="col-12 col-sm-4 pb-4 pb-sm-0">
                <div class="card bg-info text-white pb-4 summaryCard border-0 pl-3 pr-3" (click)="navigateTo()">
                    <div>
                        <div class="col-12 whiteText pt-4">Total</div>
                    </div>
                    <div class="p-1">
                        <div class="col-12 countNo pt-4">{{totalCount}}</div> 
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 pb-4 pb-sm-0">
                <div class="card bg-danger text-white pb-4 summaryCard border-0 pl-3 pr-3" (click)="navigateTo()">
                    <div>
                        <div class="col-12 whiteText pt-4">Occupied</div>
                    </div>
                    <div class="p-1">
                        <div class="col-12 countNo pt-4">{{occupiedCount}}</div> 
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 pb-4 pb-sm-0">
                <div class="card bg-success text-white pb-4 summaryCard border-0 pl-3 pr-3" (click)="navigateTo()">
                    <div>
                        <div class="col-12 whiteText pt-4">Vacant</div>
                    </div>
                    <div class="p-1">
                        <div class="col-12 countNo pt-4">{{vacantCount}}</div> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>

<div class="container-fluid padding">
    <div class="row pb-5">
        <div class="col-9 col-sm-3 summaryDetails pb-3 pb-sm-0">Covid 19 ICU Beds</div>
        <div class="row w-100">
            <div class="col-12 col-sm-4 pb-4 pb-sm-0">
                <div class="card bg-info text-white pb-4 summaryCard border-0 pl-3 pr-3" (click)="navigateToICU()">
                    <div>
                        <div class="col-12 whiteText pt-4">Total</div>
                    </div>
                    <div class="p-1">
                        <div class="col-12 countNo pt-4">{{totalICUCount}}</div> 
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 pb-4 pb-sm-0">
                <div class="card bg-danger text-white pb-4 summaryCard border-0 pl-3 pr-3" (click)="navigateToICU()">
                    <div>
                        <div class="col-12 whiteText pt-4">Occupied</div>
                    </div>
                    <div class="p-1">
                        <div class="col-12 countNo pt-4">{{occupiedICUCount}}</div> 
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 pb-4 pb-sm-0">
                <div class="card bg-success text-white pb-4 summaryCard border-0 pl-3 pr-3" (click)="navigateToICU()">
                    <div>
                        <div class="col-12 whiteText pt-4">Vacant</div>
                    </div>
                    <div class="p-1">
                        <div class="col-12 countNo pt-4">{{vacantICUCount}}</div> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>