.paddingTop {
    background-color: #f5f7f7;
    font-family: 'Roboto-Thin';
}

.padding {
    background-color: #f5f7f7;
    padding-top: 1.5rem;
}
.bg-info {
    background-color: #00a1b0 !important;
}
.bg-danger {
    background-color: #f8597e !important;
}
.bg-secondary {
    background-color: #8a8ff3 !important;
}

.summaryDetails {
    color: #c2986b;
    font-size: 1.5rem;
    align-self: center;
    text-transform: uppercase;
    font-weight: bold;
}

.w-100{
    width: 70% !important;
}

.whiteText {
    font-family: 'Roboto-Bold';
    color: #FFF;
    font-size: 1.5rem;    
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-align: center !important;
}
.countNo {
    color: rgba(0, 0, 0, 0.47);
    font-size: 4rem;
    font-family: 'Roboto-Bold';
    text-align: center;
}

.summaryCard {
    border-radius: 25px;
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.19);
    border: solid 1px rgba(151, 151, 151, 0.05);
    background-color: #00a1b0;
    cursor: pointer;
}



.bgcolor{
    background-color: #f5f7f7;
}