<!-- <app-header></app-header>
<div class="container-fluid paddingTop">
    <div class="row pb-5">
        <div class="col-12 col-sm-3 summaryDetails pb-3 pb-sm-0">Covid 19 Beds</div>
        <div class="row">
            <div class="col-12 col-sm-4 pb-4 pb-sm-0">
                <div class="card bg-info text-white pt-4 pb-4 summaryCard border-0">
                    <div class="p-0" (click)="navigateTo()">
                        <div class="col-9 float-left whiteText pt-4 pl-6">Total</div>
                        <div class="col-7 float-right countNo">203</div>   
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 pb-4 pb-sm-0">
                <div class="card bg-danger text-white pt-4 pb-4 border-0">
                    <div class="p-0" (click)="navigateTo()">
                        <div class="col-9 float-left whiteText pt-4 pl-6">Occupied</div>
                        <div class="col-7 float-right countNo">182</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 pb-4 pb-sm-0">
                <div class="card bg-success text-white pt-4 pb-4 border-0">
                    <div class="p-0" (click)="navigateTo()">
                        <div class="col-8 float-left whiteText pt-4 pl-6">Vacant</div>
                        <div class="col-10 float-right countNo">10000</div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <div class="row pb-5">
        <div class="col-12 col-sm-3 summaryDetails pb-3 pb-sm-0">Covid 19 ICU Beds</div>
        <div class="row">
            <div class="col-12 col-sm-4 pb-4 pb-sm-0">
                <div class="card bg-info text-white pt-4 pb-4 summaryCard border-0">
                    <div class="p-0" (click)="navigateToICU()">
                        <div class="col-9 float-left whiteText pt-4 pl-6">Total</div>
                        <div class="col-7 float-right countNo">203</div>   
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 pb-4 pb-sm-0">
                <div class="card bg-danger text-white pt-4 pb-4 border-0">
                    <div class="p-0" (click)="navigateToICU()">
                        <div class="col-9 float-left whiteText pt-4 pl-6">Occupied</div>
                        <div class="col-7 float-right countNo">182</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 pb-4 pb-sm-0">
                <div class="card bg-success text-white pt-4 pb-4 border-0">
                    <div class="p-0" (click)="navigateToICU()">
                        <div class="col-8 float-left whiteText pt-4 pl-6">Vacant</div>
                        <div class="col-7 float-right countNo">100</div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <div class="row pt-5">
        <div class="float-left col-12 bg-light text-dark p-sm-5 p-0 ">Last Updated on</div>
    </div>
</div> -->
<app-covid19dashboard></app-covid19dashboard>